[package]
name = "common"
version = "0.1.0"
edition = "2024"

[dependencies]
allocative = { git = "https://github.com/facebookexperimental/allocative", rev = "85b773d85d526d068ce94724ff7a7b81203fc95e" }
